<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <title>Creatures</title>
</head>
<body>
<h1>Creatures</h1>

<div th:each="creatureType:${creatureTypes}">
  <div th:object="${creatureType}">
    <h2 th:text="*{type}">Creature Type</h2>
    <p>Description <span th:text="*{description}"></span></p>
    <p>Average Cost <span th:text="*{imgUrlType}"></span></p>
  </div>
</div>
<a href="/stores/new">Surrender Creature</a>
</body>
</html>
